Source: codeville
Section: devel
Priority: optional
Maintainer: Chad Walstrom <chewie@debian.org>
Build-Depends: debhelper (>= 4.1.38), cdbs (>= 0.4.27), python-dev (>=2.3), python-dev (<< 2.4)
Standards-Version: 3.6.1.0


Package: codeville
Architecture: all
Depends: python(>= 2.3), python(<< 2.4), ${misc:Depends}, ${shlibs:Depends}
Recommends: python-psyco
Description: a distributed version control system
 Codeville is a distributed version control system. It began with a novel idea
 for a merge algorithm and has grown from there. It is designed to be easy to
 use and scale from small personal projects to very large distributed ones.
 .
 Homepage: http://www.codeville.org/
